postgres:
  enabled: true
  name: postgres
  #serviceNameOverride: postgres
  image: postgres:16-alpine
  username: dinum
  password: pass
  database: docs
  size: 1Gi
redis:
  # replaced by the valkey-docs and valkey-yhub releases
  enabled: false
minio:
  enabled: true
  image: quay.io/minio/minio
  name: minio
  ingress:
    enabled: true
    hostname: docs-minio.127.0.0.1.nip.io
    tls:
      enabled: true
      secretName: docs-tls
  consoleIngress:
    enabled: true
    hostname: docs-minio-console.127.0.0.1.nip.io
    tls:
      enabled: true
      secretName: docs-tls
  username: dinum
  password: password
  bucket: docs-media-storage
  versioning: true
  size: 1Gi
keycloak:
  enabled: true
  image: quay.io/keycloak/keycloak:20.0.1
  name: keycloak
  #serviceNameOverride: keycloak
  hostname: docs-keycloak.127.0.0.1.nip.io
  username: admin
  password: pass
  tls:
    enabled: true
    secretName: docs-tls
  db:
    username: dinum
    password: pass
    database: keycloak
    size: 1Gi
    image: postgres:16-alpine
  realm:
    name: docs
    username: docs
    password: docs
    email: docs@example.com
